

body {
	font-size: 12px;
	background: url("/img/bakground4.jpeg");
  opacity:0.8;
	
}

.col-2-3{
  overflow:auto; 
  width: 100%; 
  background: rgb(0, 121, 191)
}
.left{ 
  width: 35%; 
  margin:5px; 
  padding: 1em; 
  background: white; 
  float:left;
  border-radius: 10px;
} 

.right { 
  width: 59%; 
  height: auto;
  margin:5px; 
  padding: 1em; 
  background: white;
  float:right; 
  border-radius: 10px;
} 

.container {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
  style="position: absolute; 
  top: 0px; 
  left: 0px; 
  z-index: 0; 
  visibility: inherit; 
  opacity: 0.7; 
  transform: matrix(1, 0, 0, 1, 0, 0);
}



#wrapper{
	width: 1000px;
	margin: 0 auto;
	background-color:white;

}
div#banner{
	width: 1000px;
	margin: auto;
	height: 100px;
	background: url("/img/chart.jpg") no-repeat 0 0;
}

div#banner p{
	font: 15px Arial, Helvetica, sans-serif;
	color: white;
	position: relative;
	left: 20px;
	top: 120px;
	width: 305px;
	padding: 10px;
	background: black;
	text-align: center;
	text-transform: uppercase;;
	letter-spacing: 20px;
	opacity: 0.5;
}
/*Header*/



h2{
 	font-size: 2.2em;
 	color: blue;
  float:left;
 }



/* navigation*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

li{
	float:right;
}
li a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 14px;
	padding: 14px 16px;
	text-align: center;
	
}
li a:hover:not(.active){
	background-color: #2c3e50;
	border-radius: 5px;
	color: #fff;
}

.active{
background-color: #4CAF50;

}



form-style{
	margin-top: 20px;
	width:450px;
    padding:30px;
    margin:40px auto;
    background: #FFF;
    border-radius: 10px;
}

form-style h1{
	background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
form-style input {
    border-bottom: 3px dashed blue;
    border-radius: 2px;
}
form-style label{
    display: block;
    font: 14px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}

